<!--
<div class="logo-container">
  <img src="/images/logo.jpg" alt="Logo" />
</div>
<div class="form-container">
    <strong><h2>Créez votre compte SwenShares</h2></strong>
    <form (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group">
          <label for="prenom">Prénom:</label>
          <div class="input-container">
            <input type="text" id="prenom" placeholder="Entrer votre Prénom" [(ngModel)]="user.prenom" name="prenom" required />
            <i class="fas fa-user"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="nom">Nom:</label>
          <div class="input-container">
            <input type="text" id="nom" placeholder="Entrer votre Nom" [(ngModel)]="user.nom" name="nom" required />
            <i class="fas fa-user"></i>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="telephone">Téléphone:</label>
          <div class="input-container">
            <input type="text" id="telephone" placeholder="Entrer votre numéro" [(ngModel)]="user.telephone" name="telephone" required />
            <i class="fas fa-phone"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <div class="input-container">
            <input type="email" id="email" placeholder="Entrer ton email" [(ngModel)]="user.email" name="email" required />
            <i class="fas fa-envelope"></i>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="password">Mot de Passe:</label>
          <div class="input-container">
            <input type="password" id="password" placeholder="Entrer le mot de passe" [(ngModel)]="user.password" name="password" required />
            <i class="fas fa-lock"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="confPassword">Conf Mot de Passe:</label>
          <div class="input-container">
            <input type="password" id="confPassword" placeholder="Confirmez le mot de passe" [(ngModel)]="user.confPassword" name="confPassword" required />
            <i class="fas fa-lock"></i>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <button type="submit">S'INSCRIRE</button>
        </div>
      </div>
    </form>
    <div class="separator">
      <span>ou</span>
    </div>
    <a routerLink="/login">Vous avez un compte ? Connectez-vous</a>
  </div>
-->
