<div class="parent bg-dark">
  <div class="container text-center text-md-start">
      <div class="row">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
          <h5 class="text-uppercase fw-bold btn-app">À propos</h5>
          <hr class="mb-4 mt-0 d-inline-block mx-auto"  />
          <p class="text-white">Nous facilitons la gestion des actions pour les entreprises avec une approche innovante et transparente.</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h5 class="text-uppercase fw-bold btn-app">Liens utiles</h5>
          <hr class="mb-4 mt-0 d-inline-block mx-auto"  />
          <div class="link-list">
            <p><a href="#" class="" routerLink="actionnaires">Actionnaires</a></p>
            <p><a href="#" class="">Contact</a></p>
          </div>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h5 class="text-uppercase fw-bold btn-app" >Contact</h5>
          <hr class="mb-4 mt-0 d-inline-block mx-auto"  />
          <p class="text-white"><i class="bi bi-house-door-fill btn-app"></i> Dakar, Sénégal</p>
          <p class="text-white"><i class="bi bi-phone-fill btn-app" ></i>+221 77 0000000</p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h5 class="text-uppercase fw-bold btn-app" >Suivez-nous</h5>
          <hr class="mb-4 mt-0 d-inline-block mx-auto"/>
          <div>
            <a href="#" class="text-dark me-4"><i class="fa-brands fa-facebook" style="font-size: 1.5rem; color: #1877F2;"></i></a>
            <a href="#" class="text-dark me-4"><i class="fa-brands fa-twitter" style="font-size: 1.5rem; color: grey;"></i></a>
            <a href="#" class="text-dark me-4"><i class="fa-brands fa-instagram" style="font-size: 1.5rem; color: #E4405F;"></i></a>
            <a href="#" class="text-dark me-4"><i class="fa-brands fa-linkedin" style="font-size: 1.5rem; color: #0077B5;"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-last">
      <p class="">© 2024 swenShares. Tous droits réservés.</p>
    </div>
  </div>
