<!--
<div class="logo-container">
  <img src="/images/logo.jpg" alt="Logo" />
</div>

<div class="form-container">
  <h2>Connexion</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <div class="input-container">
        <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Entrez votre email" />
        <i class="fas fa-envelope"></i>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Mot de Passe:</label>
      <div class="input-container">
        <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Entrez votre mot de passe" />
        <i class="fas fa-lock"></i>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
    <div class="separator">
      <span>ou</span>
    </div>
    <div class="footer">
      <p>Vous n'avez pas de compte ? <a href="/register">Inscrivez-vous</a></p>
    </div>
  </form>
</div>



-->
